Plans/n8n/exports/wf-knowledge-ingest.json
{
  "name": "WF - Knowledge Ingest",
  "nodes": [
    {
      "parameters": {},
      "id": "be1f197e-0373-4688-9730-0c48c232d10d",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [0, 0],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "playbooks",
        "returnAll": true
      },
      "id": "ffa1c5d6-aec2-4080-8cf2-ac908b54b77f",
      "name": "Read Playbooks from Supabase",
      "type": "n8n-nodes-base.supabase",
      "position": [256, 0],
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": { "id": "KB08fHAmzE3Mumwn", "name": "Supabase Yannstory" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "anthropic/claude-sonnet-4.5" },
            { "name": "messages", "value": "={{ JSON.stringify([{role:'system', content:'Tu classifies un contenu EWA. Réponds UNIQUEMENT en JSON valide avec 2 clés: category et subcategory (max 30 caractères, kebab-case). Exemple: {\"category\":\"montage\",\"subcategory\":\"reels\"}. Pas de texte avant ou après le JSON.'}, {role:'user', content: 'Titre : ' + $json.title + '\\n' + $json.content}]) }}" },
            { "name": "response_format", "value": "json_object" }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": { "id": "TODO_OPENROUTER_CREDENTIAL_ID", "name": "OpenRouter API" }
      },
      "id": "43c8c838-8200-400d-b9a1-8f4208c29145",
      "name": "Categorize with OpenRouter",
      "type": "n8n-nodes-base.httpRequest",
      "position": [512, 0],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// Support OpenAI/OpenRouter format AND Ollama format\nconst raw = $json.choices?.[0]?.message?.content || $json.text || $json.response || '{}';\nlet category = 'manual';\nlet subcategory = 'contenu';\n// Try to extract JSON from the response\nconst jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) {\n  try {\n    const parsed = JSON.parse(jsonMatch[0]);\n    category = parsed.category || 'manual';\n    subcategory = parsed.subcategory || 'contenu';\n  } catch (e) {}\n}\nconst items = $items('Read Playbooks from Supabase');\nconst idx = $execution?.itemIndex ?? 0;\nconst item = items[idx]?.json || items[0]?.json || {};\nreturn [{\n  json: {\n    title: item.title,\n    content: item.content,\n    category,\n    subcategory,\n    source: 'manual',\n    metadata: { origin: 'playbook', playbook_id: item.id },\n    original_id: item.id,\n    original_table: 'playbooks'\n  }\n}];"
      },
      "id": "115dec8f-9360-4bde-9ad7-a943e3337f31",
      "name": "Parse Categorization",
      "type": "n8n-nodes-base.code",
      "position": [768, 0],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://template-ewa-app.vercel.app/api/knowledge/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-n8n-token", "value": "ewa_wh_sk_2026_xK9mP" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "title", "value": "={{ $json.title }}" },
            { "name": "content", "value": "={{ $json.content }}" },
            { "name": "category", "value": "={{ $json.category }}" },
            { "name": "subcategory", "value": "={{ $json.subcategory }}" },
            { "name": "source", "value": "={{ $json.source }}" },
            { "name": "metadata", "value": "={{ JSON.stringify($json.metadata || {}) }}" },
            { "name": "original_id", "value": "={{ $json.original_id }}" },
            { "name": "original_table", "value": "={{ $json.original_table }}" }
          ]
        },
        "options": {}
      },
      "id": "7c4be2b0-98f6-4d84-87d0-a1d43dc1ecc1",
      "name": "POST /api/knowledge/ingest",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1024, 0],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{"node": "Read Playbooks from Supabase", "type": "main", "index": 0}]] },
    "Read Playbooks from Supabase": { "main": [[{"node": "Categorize with OpenRouter", "type": "main", "index": 0}]] },
    "Categorize with OpenRouter": { "main": [[{"node": "Parse Categorization", "type": "main", "index": 0}]] },
    "Parse Categorization": { "main": [[{"node": "POST /api/knowledge/ingest", "type": "main", "index": 0}]] }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a35879ae87e93b4eda7853fa43024346dc2571fbecb1bfaa0f41fed0645b29b"
  }
}
